!!! 5
%html
  %head
    %meta(charset='utf-8')
    %meta(name='viewport' content='width=600')
    %title GROUP VIEWQVZ :: #{@name}
    %link(rel='stylesheet' href='/site.css' type='text/css' media='screen' title='default style sheet')
    %script(type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js')
    %script(type='text/javascript' src='/paging_keys.js')
  %body
    #content
      #header
        %h1 Viewing #{@name}
        %form(action='/group' method='post')
          %p
            %label(for='searchbox') View another group?
            %input#searchbox(type='url' name='url' value='http://flickr.com/groups/onthestreet')
            %input#ok(type='submit' value='OK')
        #nav
          %p= "#{nav_links} &nbsp; &nbsp; &nbsp; j/k keys will move between photos (and pages)"    
      #images
        - @sequence.each do |img|
          .photo.hentry{:id => img.id}
            %a{:href => img.flickr_url}>
              %img{:src => img.img_url}>
            %p= "#{img.title} by #{img.photographer}"
        %nav
          %p= nav_links
      #footer
        %p Site designed and built by <a href="http://funkaoshi.com">Ramanan Sivaranjan</a>.
    = haml(:_analytics, :layout => false)
